absorbancia/absorbancia.xlsx
absorbancia/guia de laboratrio sensor aborbancia.docx

Calculadora/calculadora.docx
Calculadora/proteus/

fotoresistencia/fotoresistencia.xlsx
fotoresistencia/guia de laboratrio sensor fotoresistencia.docx

radiacion solar/radiacion solar.xlsx
radiacion solar/guia de laboratrio sensor radiacion solar.docx

secuencia de leds/secuencia de leds.docx

temperatura/proteus/
temperatura/guia de laboratrio sensor temperatura.docx
temperatura/temperatura.xlsx


guia de laboratrio sensores.docx
proteus
